.titre-vision-avenir{
    color : blue;
    border: 5px #d30b97fd 1remm
    ;
    background-color: rgba(247, 0, 255, 0.301);
}
p{
    font-size: 20px;
}
.tresorerie{
    background: palevioletred;
    color: rgb(34, 95, 226);
    border: 2px solid black;
    margin: 20px;
    width: 200px;
    height: 200px;
    left: 10px;
}
.administration{
    background-color: palevioletred;
    color: rgb(26, 91, 231);
    border: 2px solid black;
    margin: 20px;
    width: 200px;
    height: 200px;
    left: 10px;
}
.distribution{
    background: palevioletred;
    color: rgb(31, 91, 221);
    border: 2px solid black;
    margin: 20px;
    width: 200px;
    height: 200px;
    left: 10px;
}
.content-caisse-vente{
   display: flex;
   position: absolute;
   top: 350px;
   left: 12%;
   width: 730px;
   margin: 0 auto;
}
.content-image-head{
    width: 200px;
    margin: 0 auto;
}
.content-background-image {
    height: 450px;
    width: 100%;
    background-image: url('dudu.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.text-association{
    height:350px ;
    position: absolute;
    top : 250px;
}
.domaines-action{
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: 135px;
}
.lorem-ipsum{
    font-size: 20px;
    text-align: center;
 
}
.content-bloc-domaines{
    font-size: 30px;
    text-align: center;
    left: 25%; 
  /*  margin-block-start: 1em;  
    margin-block-end: 1em; */
    display: flex;
    padding: 10px;
    width: 1000px;
    margin: 0 auto;
}
.text-description{
    font-size: 12px;
    
}
.sante {
    padding: 10px;
}
.education {
    padding: 10px;
}
.environnement {
    padding: 10px;
}
/*
.education {
    padding: 10px;
}
*/
.content-realisation-et-but{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 60px;
}
.content-but-realisation{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 60px;
}
.content-realisation-but{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 80px;
}
.education{
    border: 2px solid black;
    margin: 20px;
}
.sante{
    border: 2px solid black;
    margin: 20px;
}
.environnement{
    border: 2px solid black;
    margin: 20px;
}
.Dernieres-nouvelles-PA{
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 50px;
}
.lorem-text-of-the-printing{
    font-size: 20px;
    text-align: center;
    top: 50px;
}

